### Fundamentos de Python
* Variables
* Operadores matematicos
    - Operadores logicos
    - Operadores de comparacion
* Condicionales
    - Simples
    - Compuestos
    - Anidados
    - Encadenados
* Ciclos
    - Finitos (for)
    - Infinitos (while)
* Funciones
* Estructuras de datos
    - Caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Fundamentos de POO

In [2]:
print("Epale")

Epale

In [ ]:
# variables
name = "Javier"

In [ ]:
last_name = "Gonzalez"

In [4]:
LastName = "Primero"

In [ ]:
Name = "Segundo"

In [ ]:
NAME = "Tercero"

In [ ]:
# operadores matematicos
suma = 2 + 2
resta = 2 - 2
multiplicacion = 2 * 2
division = 2 / 2

In [ ]:
number = 12
number2 = 20

In [ ]:
suma = number + number2 
resta = number - number2
multiplicacion = number * number2
division = number / number2

In [ ]:
print(suma) 
print(resta)

In [ ]:
print(f"El resultado de la suma es: {suma}") 
print(f"El resultado de la resta es: {resta}") 
print(f"El resultado de la multiplicacion es: {multiplicacion}")
print(f"El resultado de la division es: {division}")

In [ ]:
# oeradores de comparacion
# igual a ==
# diferente de !=
# mayor que >
# menor que <
# mayor o igual que >= 
# menor o igual que <=

In [9]:
3== 3 # True

True

In [10]:
3 != 3

False

In [11]:
number1= 12
number2= 20
number1 == number2

False

In [ ]:
# condicionales
number1= 12
number2= 20
print(number1)
print(number2) 

if number1 < number2:  
    print("number1 es mayor que number2")

12
20
number1 es mayor que number2

In [19]:
# condicionales
number1= 14
number2= 12
print(number1)
print(number2) 

if number1 > number2:  
    print("number1 es mayor que number2")
elif number1 < number2:
    print("number1 es menor que number2") 
elif number1 == number2:
    print("number1 es igual que number2") 
# else:
    # print("number1 es igual que number2")

14
12
number1 es mayor que number2

In [ ]:
# condicionales
number1= 14
number2= 12
print(number1)
print(number2) 

if number1 > number2:
    if number1 > 10:  
        print("number1 es mayor que number2")
    else:
        print("number1 es menor que number2") 
else:
    print("number1 es mayor que number2")

14
12
number1 es mayor que 10
number1 es mayor que number2

In [ ]:
# Estructuras de datos
# strings
name = "josefino" 
type(name)
name.capitalize()

'Josefino'

In [ ]:
number1= 14
type(number1)

int

In [27]:
number2= 12.45
type(number2)

float

In [33]:
# listas
name_list = ["jose", "javier", "pedro", "josefino"] 
name_list.append("teresa")
print(name_list)
print(name_list[-1])

['jose', 'javier', 'pedro', 'josefino', 'teresa']
teresa

In [ ]:
age_list = [20, 30, 40, 50]
age_list2 = [23,
            32,
            45,
            50]
print(age_list2)

[23, 32, 45, 50]

In [40]:
# slice de una lista
name_list = ["jose", "javier", "pedro", "josefino"] 
print(name_list[1:-1])
len(name_list)

['javier', 'pedro']

4

In [ ]:
# Ciclos finitos
name_list = ["jose", "javier", "pedro", "josefino"] 
for name in name_list:
    print(name)

jose
javier
pedro
josefino

In [44]:
# Ciclos finitos
name_list = ["jose", "javier", "pedro", "josefino"] 
for name in name_list:
    if name == "pedro":
        # imprime su posicion
        print(name_list.index(name))

2

In [1]:
# recorrido de una lista por indices
name_list = ["jose", "javier", "pedro", "josefino"]
for item in range(len(name_list)): 
    if name_list[item] == "pedro":
        # imprime su posicion
        print(name_list[item])
        print(item)

pedro
2

In [2]:
# rango de valores con range 
for i in range(5, 11): 
    print(i)

5
6
7
8
9
10

# Funciones en python

In [3]:
def saludos():
    print("Hola")

In [4]:
saludos()

Hola

In [8]:
# funcion que salude a un nombre
def saludos(name):
    print(f"Hola {name}")

saludos("Jose")

Hola Jose

In [11]:
# funcion que sume dos numeros number 1 y number2
def suma(number1, number2):
    return number1 + number2

suma(2, 3)

5

In [12]:
# funcion para el calculo de un triangulo
def area_triangulo(base, altura):
    return (base * altura) / 2

area_triangulo(2, 3)

3.0

In [13]:
area_triangulo(base=3, altura=2)

3.0

In [14]:
# funcion con argumentos por defecto
def area_triangulo(base=2, altura=3):
    return (base * altura) / 2

area_triangulo()

3.0

In [15]:
area_triangulo(altura=5)

5.0

In [16]:
# documentacion de una funcion
def area_triangulo3(base=2, altura=3):
    """
    Esta funcion calcula el area de un triangulo
    :param base: base del triangulo
    :param altura: altura del triangulo
    :return: area del triangulo
    """
    return (base * altura) / 2

In [ ]:
area_triangulo3()

In [19]:
# documentacion de una funcion
def area_triangulo4(base:float, altura:float) -> float:
    """
    Esta funcion calcula el area de un triangulo
    :param base: base del triangulo float o int
    :param altura: altura del triangulo float o int
    :return: area del triangulo float
    """
    return (base * altura) / 2

area_triangulo4(2.4, 3.5)

4.2

### Diccionarios

In [20]:
 # diccionarios de clave:valor
name_dict = {
    "nombre": "Jose",
    "apellido": "Gonzalez",
    "edad": 20,
    "altura": 1.80,
}

In [ ]:
name_list2 = ["Jose", "Gonzalez", 20, 1.80]

In [25]:
name_list2[0]= "Josefino"
name_list2

NameError: name 'name_list2' is not defined

'jose'

In [ ]:
name_dict["edad"]

20

### Tuplas

In [ ]:
# tupla
name_tuple = ("Josefino", "Gonzalez", 20, 1.80)

In [26]:
name_tuple[0] = "Petra"

NameError: name 'name_tuple' is not defined